<%- include("partials/header") %>
  <main>
    <div class="left">
      <div class="top">
        <div class="user">
          <img src="<%= user.profileImage %>" alt="">
          <h1><%= user.username %></h1>
        </div>
      </div>
      <div class="bottom">
        <div class="users">
          <div class="user">
              <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFufGVufDB8fDB8fHww" alt="">
              <h1>John Doe</h1>
          </div>
          <div class="user">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFufGVufDB8fDB8fHww" alt="">
            <h1>John Doe</h1>
        </div>
        <div class="user">
          <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFufGVufDB8fDB8fHww" alt="">
          <h1>John Doe</h1>
      </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="topUser">
        <div class="user">
          <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFufGVufDB8fDB8fHww" alt="">
          <h1>John Doe</h1>
      </div>
      </div>
      <div class="conversation">
        <div class="inputs">
          <input type="text">
          <button><i class="ri-send-plane-2-fill"></i></button>
        </div>
      </div>
    </div>
  </main>

  <script>
    
  </script>
    
  
  <%- include("partials/footer") %>